<mat-dialog-content class="mat-typography">
    <div class="modal">
        <div class="modal__image">
            <img src="./assets/images/sew.jpg" alt="">
        </div>
        <div class="modal__text">
            Шановний відвідувач прошу звернути увагу, що окрім готової продукції ми надаемо послуги пошиву одягу
            будь-якого
            типу і складності на замовлення. Детальніше ви можете дізнатіся перейшовші за цим посиланням. <span><a
            [routerLink]="['/services']">Дізнатися детальніше</a></span>
        </div>
    </div>
    <img src="" alt="">
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Закрити</button>
</mat-dialog-actions>
