<header>
  <ul class="navigation">
    <li class="navigation_item"><a class="navigation_link logo" routerLink="">AUTHENTIC</a></li>
    <li class="navigation_item"><a class="navigation_link" routerLink="">Новые модели</a></li>
    <li class="navigation_item"><a class="navigation_link" routerLink="">Стиль</a></li>
    <li class="navigation_item"><a class="navigation_link" routerLink="">Для детей</a></li>
    <li class="navigation_item"><a class="navigation_link" routerLink="">Предлодения</a></li>
    <li class="navigation_item">
      <mat-form-field>
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" class="search-input">
      </mat-form-field>
    </li>
    <li class="navigation_item">
      <mat-icon class="cart" matSuffix>add_shopping_cart</mat-icon>
    </li>
  </ul>
</header>
