<header>
  <ul class="navigation">
    <li class="navigation__item logo"><a class="navigation__link logo" routerLink="">AUTHENTIC</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLink="">Про нас</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLink="">Пропозиції</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLink="">Усі послуги</a></li>
    <li class="navigation__item">
      <mat-form-field>
        <mat-icon matSuffix>search</mat-icon>
        <input matInput type="search" class="search-input">
      </mat-form-field>
    </li>
  </ul>
</header>
