<section>
  <div class="filter">
    <ul class="filter_list">
      <li class="filter_item clear">
        FILTERS
        <div class="filter_clear-button">clear all</div>
      </li>
      <li class="filter_item">
        <p>No filters applied</p>
        <!--        тут должни бить чіпси вибраних фільтров-->
      </li>
      <li class="filter_item filter_item-color">
        <mat-expansion-panel hideToggle>
          <!-- #enddocregion hide-toggle -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              COLOR
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </li>
      <li class="filter_item filter_item-size">
        <mat-expansion-panel hideToggle>
          <!-- #enddocregion hide-toggle -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              SIZE
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </li>
      <li class="filter_item filter_item-style">
        <mat-expansion-panel hideToggle>
          <!-- #enddocregion hide-toggle -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              STYLE
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </li>
      <li class="filter_item filter_item-price">
        <mat-expansion-panel hideToggle>
          <!-- #enddocregion hide-toggle -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              PRICE
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </li>
    </ul>
  </div>
</section>
