<section>
  <div class="services">
    <div class="services__image">
      <img src="./assets/images/service.jpg" alt="service-photo">
    </div>
    <div class="services__text">
      <p>Індивідуальний одяг - ми постачаємо персоналізований одяг для підприємств та приватних осіб по всій
        Україні.</p>
      <br>
      <br>

      <p>Ми створюємо персоніфікований одяг для будь-якої події, будь то вишиті сорочки поло з логотипом вашої компанії
        або набір масових друкованих футболок для заходу, доставка протягом доби, або на наступний день. Будьте
        впевнені, що ви в спроможних руках.</p>
      <br>
      <br>
      <p>Ми постачаємо вишитий робочий одяг, сукні, персональний діловий одяг, вишитий одяг на замовлення для
        підприємств, шкіл, благодійних організацій, друкарів, університетів та сектору охорони здоров’я через наш портал
        онлайн-замовлення , тому незалежно від того, чи є ви підприємцем чи бажаете футболку для особистого
        використання, ми допоможемо вам. Налаштуйте свій одяг зараз!</p>
      <br>
      <br>
      <p>Який кращий спосіб персоналізувати одяг, ніж за допомогою принту та вишивки. Наші спеціалісти тут, щоб
        допомогти вам у процесі. Ми маємо понад 30-річний досвід у виробництві індивідуальної поліграфії, друкованого
        одягу та вишитих товарів, тому будьте впевнені, що ви в хороших руках.</p>
      <br>
      <br>
      <p>Для всіх ваших вимог до високоякісного одягу без мінімальних замовлень або для того, щоб дізнатись більше про
        те, як ми можемо додати вашому одягу персоналізований дизайн, зв’яжіться з одним із наших експертів сьогодні та
        оживіть вашу уяву за допомогою індивідуального одягу.</p>
    </div>
  </div>
</section>
