<section>
  <form class="add-form" [formGroup]="productForm" (submit)="editProduct()">
    <mat-form-field appearance="fill" class="title">
      <mat-label>Название продукта</mat-label>
      <input
        matInput
        formControlName="title"
        [value]="product.title"
      >
    </mat-form-field>
    <mat-form-field class="description">
      <mat-label>Описание</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        formControlName="description"
        value="{{product.description}}"
      ></textarea>
    </mat-form-field>
    <mat-form-field
      appearance="fill"
      class="style"
    >
      <mat-label>Стиль</mat-label>
      <mat-select
        formControlName="style"
        value="{{product.style}}"
      >
        <ng-container *ngFor="let item of listStyles">
          <mat-option value="{{item}}">
            {{item}}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="price">
      <mat-label>цена</mat-label>
      <input
        matInput
        formControlName="price"
        [value]="product.price"
      >
    </mat-form-field>
    <mat-slide-toggle #promo>Добавить акцию</mat-slide-toggle>
    <mat-form-field appearance="fill" class="price" *ngIf="promo.checked">
      <mat-label>Акционная ценна</mat-label>
      <input
        matInput
        formControlName="promotedPrice"
        [value]="product.promotedPrice"
      >
    </mat-form-field>
    <ng-container formGroupName="material">
      <mat-form-field appearance="fill" class="material-name">
        <mat-label>Название материала</mat-label>
        <input matInput formControlName="materialName" value="{{product.style}}">
      </mat-form-field>
      <div class="material">
        <mat-divider></mat-divider>
        <label for="material" class="material-field"
               *ngIf="productForm.get('material').get('materialPhoto').value">
          <h5>Изменить фото материала <mat-icon>upload_file</mat-icon></h5>
          <input type="file" id="material" (change)="onFileSelected($event)" class="materialImg">
        </label>
        <div
          class="material-photo"
          *ngIf="productForm.get('material').get('materialPhoto').value"
        >
          <img src="{{productForm.get('material').get('materialPhoto').value}}" alt="">
        </div>
      </div>
    </ng-container>
    <div class="photos">
      <mat-divider></mat-divider>
      <div class="photos-field">
        Удалить или добавить новое фото
        <label for="photos">
          <mat-icon>upload_file</mat-icon>
          <input
            type="file"
            id="photos"
            (change)="onFileSelected($event)"
            class="photoName"
          >
        </label>
      </div>
      <div class="" *ngIf="productForm.get('photos').value.length">
        <ng-container *ngFor="let item of productForm.get('photos').value; let i = index;">
          <div class="photos-list">
            <div class="delete-icon" (click)="removePhoto(i)">
              <mat-icon>delete</mat-icon>
            </div>
            <img src="{{item}}" alt="">
          </div>

        </ng-container>

      </div>
    </div>
    <div class="buttons">
      <button mat-raised-button color="warn" type="button">Очистить</button>
      <button mat-raised-button color="primary" type="submit">Добавить</button>
    </div>
  </form>
</section>

