<section>
  <div class="product-loop">
    <div class="product-item" *ngFor="let product of (currentPageProducts | async)">
      <div class="product-item__image">
        <img src="{{product.img[0]}}" class="product-item__image">
      </div>
      <div class="product-item__name">{{product?.title}}</div>
      <div [ngClass]="{outline: product.isPromoted}" class="product-item__price">₴{{product?.price}}</div>
      <div *ngIf="product.isPromoted" class="product-item__price highlighted" style="color: red;">
        ₴{{product.promotedPrice}}</div>
      <div class="product-item__button" (click)="showDetails(product?.id)">Детальніше</div>
    </div>
  </div>
  <div class="pagination">
    <a (click)="nextPage(this.currentPageValue.value - 1 )"
       [ngStyle]="{'pointer-events': (this.currentPageValue.value === 0)? 'none': 'auto' }">&laquo;</a>
    <ng-container *ngFor="let paginator of paginatorValue">
      <a (click)="nextPage(paginator-1)" [routerLinkActive]=
        "['active-link']">{{paginator}}</a>
    </ng-container>

    <a (click)="nextPage(this.currentPageValue.value + 1 )"
       [ngStyle]="{'pointer-events': (this.currentPageProducts.value.length < 6)? 'none': 'auto' }">&raquo;</a>
  </div>
</section>
