<section>
    <div class="product-loop">
        <div class="product-item" *ngFor="let product of this.productService.listProducts |
        searchFilter: this.filterService.searchFilterText">
            <div class="product-item__image" *ngIf="product?.img">
                <img src="{{product?.img[0]}}" class="product-item__image">
            </div>
            <div class="product-item__name">{{product?.title}}</div>
            <div [ngClass]="{outline: product.isPromoted}" class="product-item__price">₴{{product?.price}}</div>
            <div *ngIf="product?.isPromoted" class="product-item__price highlighted" style="color: red;">
                ₴{{product?.promotedPrice}}</div>
            <div class="product-item__action">
                <div class="product-item__button" (click)="showDetails(product?.id)">Детальніше</div>
            </div>
        </div>
    </div>
</section>
<div style="margin-top: 15px" *ngIf="this.productService.listProducts.length > 0">
    <div>
        <a (click)="loadMoreProducts()"
           style="cursor:pointer;display: flex; justify-content: center; align-items: center; color: #4f4f4f; text-decoration: none">
            <div>
                <svg viewBox="0 0 80 80" class="icon-load-more" style="width: 80px">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M50.6505 22.9011C50.1976 25.0324 51.5658 27.1258 53.7067 27.5764L71.9682 31.4227L75.9004 14.2148C76.3859 12.0908 75.0497 9.97694 72.9164 9.49351C70.7828 9.01008 68.66 10.3405 68.1745 12.4648L66.8975 18.0533C66.8132 17.9125 66.7223 17.774 66.6183 17.6418C60.1138 9.34614 49.9732 4 38.5807 4C18.9212 4 3 19.9027 3 39.5C3 59.0976 18.9212 75 38.5807 75C58.2401 75 74.1617 59.0976 74.1617 39.5C74.1617 37.3214 72.3871 35.5556 70.2 35.5556C68.0116 35.5556 66.238 37.3214 66.238 39.5C66.238 54.7581 53.8465 67.1111 38.5807 67.1111C23.3149 67.1111 10.9234 54.7581 10.9234 39.5C10.9234 24.2423 23.3149 11.8889 38.5807 11.8889C46.5104 11.8889 54.9515 15.6515 60 20.9995L55.3462 19.8582C53.2056 19.4076 51.1034 20.7699 50.6505 22.9011Z"></path>
                </svg>
            </div>
            <div>
                <h2>Показати ще 10 товарів</h2>
            </div>
        </a>
    </div>
</div>

